ansicon>=1.89.0
astroid>=2.15.6
beautifulsoup4>=4.12.2
blessed>=1.20.0
bs4>=0.0.1
certifi>=2023.7.22
charset-normalizer>=3.2.0
colorama>=0.4.6
dill>=0.3.7
distro>=1.8.0
enlighten>=1.11.2
et-xmlfile>=1.1.0
idna>=3.4
isort>=5.12.0
jinxed>=1.2.0
joblib>=1.3.1
lazy-object-proxy>=1.9.0
logging>=0.4.9.6
lxml>=4.9.3
mccabe>=0.7.0
numpy>=1.25.1
openpyxl>=3.1.2
pandas>=2.0.3
pathlib>=1.0.1
pip>=23.2.1
platformdirs>=3.9.1
prefixed>=0.7.0
psycopg2>=2.9.6
pylint>=2.17.4
python-dateutil>=2.8.2
python-dotenv>=1.0.0
pytz>=2023.3
requests>=2.31.0
scikit-learn>=1.3.0
scipy>=1.11.1
setuptools>=65.5.0
six>=1.16.0
soupsieve>=2.4.1
tabula-py>=2.7.0
threadpoolctl>=3.2.0
tk>=0.1.0
tomlkit>=0.11.8
tqdm>=4.65.0
tzdata>=2023.3
urllib3>=2.0.4
wcwidth>=0.2.6
wrapt>=1.15.0
xlrd>=2.0.1
